.container
  width: 1920px
  border: 1px solid red
  //width: 90%
  margin: auto
  display: flex
  justify-content: start
  &-header //шапка
    //border: 1px solid blue
    width: 260px
    height: auto
    background-color: #503314
  &-smeta //блок смета
    //border: 1px solid blue
    height: auto
    width: 400px
    background-color: #e2e2e2
  &-chief //главный блок
    //border: 1px solid green
    width: 1260px

@media screen and ( max-width: 1200px )
  .container
    max-width: 960px
@media screen and ( max-width: 1024px)
  .container
    max-width: 768px
@media screen and ( max-width: 768px)
  .container
    max-width: 576px
