.delivery
  &-wrapper
    //border: 1px solid blue
    margin-top: 50px
    width: 1112px
    background-color: #f6f6f6
    margin-left: 30px
    text-align: center
    padding-bottom: 56px
    padding-top: 43px
  &-title
    font-size: 30px
    color: #1c1c1c
    font-weight: bold
    font-family: "Roboto Slab"
    margin-bottom: 43px
  &-text
    flex-wrap: wrap
    font-size: 18px
    line-height: 24px
    color: #1c1c1c
    font-weight: 300
    font-family: "Roboto"
    text-align: center
    &-bold
      font-weight: bold
  &-icon
    margin: 36px 0px 43px 40px

@media screen and ( max-width: 1200px )
  .delivery
    &-wrapper
      width: 950px
      //border: 1px solid blue
@media screen and ( max-width: 1024px )
  .delivery
    &-wrapper
      width: 930px
      //border: 1px solid blue
      margin-left: 10px
