.descriptions
  &-wrapper
    //border: 1px solid blue
    width: 1112px
    margin-left: 30px
    text-align: center
    padding-bottom: 56px
    padding-top: 54px
  &-icon
    //border: 1px solid blue
    width: 829px
    height: 540px
    //position: relative
    //z-index: -1
    //пишем скобку слева от окна ввода коммента с помощью псевдоэлемента
    //&::before
    //  content: ''
          //content: '&#10078'
          //картинку вставляем как фоновую
    //  background-image: url(../images/smeta-button.png) no-repeat right top / cover
          //фон не повторяется
      //background-repeat: no-repeat
      //background-position: center center
    //  background-size: 100%
    //  width: 80px
    //  height: 80px
    //  position: absolute
    //  left: 40%
    //  top: -35px
    //  z-index: 0 
  &-title
    font-size: 30px
    color: #1c1c1c
    font-weight: bold
    font-family: "Roboto Slab"
  &-text
    font-size: 16px
    line-height: 24px
    color: #1c1c1c
    font-weight: 300
    font-family: "Roboto"
    text-align: start
    margin-top: 25px
    margin-bottom: 30px
