.equipment
  &-wrapper
    //border: 1px solid blue
    margin-top: 50px
    display: flex
    width: 1105px
    margin-left: 30px
    //за пределы рубрики ничто не выходит
    overflow: hidden
  &-basic
    //border: 1px solid green
    width: 542px
    margin-right: 30px
    &-price
      background: url(../images/banner1.png) no-repeat right top / cover
      width: 542px
      height: 105px
      font-size: 30px
      color: #ffffff
      font-weight: bold
      font-family: "Roboto Slab"
      overflow: hidden
      text-align: center
      padding-top: 35px
  &-optimal
    //border: 1px solid green
    width: 542px
    &-price
      background: url(../images/banner2.png) no-repeat right top / cover
      width: 542px
      height: 105px
      font-size: 30px
      color: #ffffff
      font-weight: bold
      font-family: "Roboto Slab"
      overflow: hidden
      text-align: center //по горизонтали
      padding-top: 35px
  &-name
    min-height: 104px
    background-color: #f2f2f2
    display: flex
    align-items: center
    &-text
      flex-wrap: wrap
      font-size: 22px
      color: #1c1c1c
      font-weight: bold
      font-family: "Roboto Slab"
  &-icon
    margin-left: 40px
    width: 53px
    height: 39px
    margin-right: 35px
  &-list
    margin-bottom: 15px
    list-style: none
    margin: 0
    padding: 0
    &-1
      padding: 17px 25px 19px 20px
      margin: 0
      min-height: 38px
      font-size: 16px
      color: #343434
      font-weight: 300
      font-family: "Roboto"
    &-2
      padding: 17px 25px 19px 20px
      margin: 0
      background-color: #f2f2f2
      min-height: 38px
      font-size: 16px
      color: #343434
      font-weight: 300
      font-family: "Roboto"

@media screen and ( max-width: 1200px )
  .equipment
    &-wrapper
      width: 950px
      //border: 1px solid blue
    &-basic
      width: 460px
      &-price //фон для 120000руб
        width: 460px
        height: 105px
    &-optimal
      //border: 1px solid blue
      width: 460px
      &-price //фон для 160000руб
        //border: 1px solid red
        width: 460px
        height: 105px
    &-name
      &-text
        //border: 1px solid green
        font-size: 20px
    &-icon
      margin-left: 35px
      margin-right: 30px
@media screen and ( max-width: 1024px )
  .equipment
    &-wrapper
      width: 930px
      //border: 1px solid blue
      margin-left: 10px
    &-basic
      width: 458px
      margin-right: 10px
      &-price //фон для 120000руб
        width: 458px
        height: 105px
    &-optimal
      //border: 1px solid blue
      width: 458px
      &-price //фон для 160000руб
        //border: 1px solid red
        width: 458px
        height: 105px
@media screen and ( max-width: 320px )
  .equipment
    &-wrapper
      width: 320px
      //border: 1px solid blue
      margin-left: 0px
      margin-top: 0px
      flex-direction: column
      overflow: hidden
    &-icon
      display: none
    &-name-text
      margin-left: 13px
      font-size: 18px
    &-basic
      //border: 1px solid green
      margin-top: 30px
      margin-bottom: 35px
      width: 318px
      margin-right: 0px
      &-price //фон для 120000руб
        width: 318px
        height: 105px
    &-optimal
      //border: 1px solid blue
      width: 318px
      margin-bottom: 20px
      &-price //фон для 160000руб
        //border: 1px solid red
        width: 318px
        height: 105px
