.header
  &-menu
    //border: 1px solid blue
    margin-left: 60px
    padding: 0
    list-style: none
    //display: flex
    //align-items: center
    &-toggle
      //скрыт по умолчанию, появится на маленьком экране (напр тел)
      display: none
  &-slogan
    width: 150px
    margin-left: 53px
    margin-bottom: 104px
    padding: 0
    //border: 1px solid blue
    text-transform: uppercase
    font-size: 15px
    line-height: 20px
    color: #ffffff
    font-weight: bold
    font-family: "Roboto-Slab"
    text-align: center
  &-telef
    margin-top: 165px
    margin-left: 61px
    text-transform: uppercase
    font-size: 18px
    line-height: 20px
    color: #fefefe
    font-weight: bold
    font-family: "Roboto-Slab"
  &-work-time
    margin-top: 13px
    margin-left: 62px
    text-transform: uppercase
    font-size: 12px
    line-height: 13px
    color: #fefefe
    font-weight: 400
    font-family: "Roboto"
  &-feedback
    margin-top: 48px
    margin-left: 60px
    text-transform: uppercase
    font-size: 16px
    line-height: 18px
    color: #fefefe
    font-weight: bold
    font-family: "Roboto-Slab"

.custom
  &-logo
    //border: 1px solid blue
    padding: 0
    margin: 29px 48px 26px
    width: 159px
    height: 167px

.logo
  //border: 1px solid red
  display: flex
  align-items: center
.menu
  &-item
    //border: 1px solid red
    margin-bottom: 30px
    a
      font-size: 16px
      line-height: 25px
      color: #ffffff
      font-weight: bold
      font-family: "Roboto-Slab"

@media screen and ( max-width: 1200px )
  .header
    &-menu
      margin-left: 37px
    &-slogan
      width: 104px
      margin-left: 52px
    &-telef
      margin-left: 38px
    &-work-time
      margin-left: 39px
    &-feedback
      margin-top: 50px
      margin-left: 37px
  .custom
    &-logo
      margin-left: 25px

@media screen and ( max-width: 768px )
  .header
    &-wrapper
      position: relative
    &-menu
      //меню выстроить по вертикали
      flex-direction: column
      align-items: flex-start
      a
        color: #000
      //toggle - это 3 гориз полосы - вызов меню
      &-toggle
        display: flex
        width: 30px
        height: 20px
        align-items: center
        justify-content: space-between
        flex-direction: column
        margin-left: 10px
        span
          width: 100%
          height: 1px
          background-color: #ffffff
  .menu
    &-item
      &:not(:last-child)
        margin-bottom: 15px
