.header
  &-menu
    //border: 1px solid blue
    margin-left: 60px
    padding: 0
    list-style: none
    //display: flex
    //align-items: center
    &-toggle
      //скрыт по умолчанию, появится на маленьком экране (напр тел)
      display: none
  &-slogan
    width: 150px
    margin-left: 51px
    margin-bottom: 104px
    //border: 1px solid blue
    text-transform: uppercase
    font-size: 15px
    line-height: 20px
    color: #ffffff
    font-weight: bold
    font-family: "Roboto-Slab"
    text-align: center
  &-telef
    margin-top: 165px
    margin-left: 61px
    text-transform: uppercase
    font-size: 18px
    line-height: 20px
    color: #fefefe
    font-weight: bold
    font-family: "Roboto-Slab"
  &-work-time
    margin-top: 13px
    margin-left: 62px
    text-transform: uppercase
    font-size: 12px
    line-height: 13px
    color: #fefefe
    font-weight: 400
    font-family: "Roboto"
  &-feedback
    margin-top: 48px
    margin-left: 60px
    text-transform: uppercase
    font-size: 16px
    line-height: 18px
    color: #fefefe
    font-weight: bold
    font-family: "Roboto-Slab"

.custom
  &-logo
    //border: 1px solid blue
    padding: 0
    margin: 29px 48px 26px
    width: 159px
    height: 167px

.logo
  //border: 1px solid red
  display: flex
  align-items: center
.menu
  &-item
    //border: 1px solid red
    margin-bottom: 30px
    a
      font-size: 16px
      line-height: 25px
      color: #ffffff
      font-weight: bold
      font-family: "Roboto-Slab"
