.photo
  &-wrapper
    //border: 1px solid blue
  &-lists
    margin: 0
    padding: 0
    //border: 1px solid green
    display: flex
    list-style: none
    flex-wrap: wrap
  &-list
    //border: 1px solid green
    margin-left: 30px
    margin-bottom: 30px
    padding: 0
    justify-content: space-between
  &-icon
    width: 268px
    height: 199px
